<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <nav class="menu-lateral">
        <div class="btn-expandir" id="btn-exp">
            <img src="../static/images/majesticons_menu.svg" alt="">
        </div>
        
        <ul>
            <li class="item-menu">
                <a href="">
                    <img class="icon" src="../static/images/material-symbols_skull.svg" alt="">
                    <span class="txt-link">Linha do Tempo da Mortalidade</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="">
                    <img class="icon" src="../static/images/Group 1.svg" alt="">
                    <span class="txt-link">Comparação da Mortalidade por País</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="">
                    <img class="icon" src="../static/images/Group 2.svg" alt="">
                    <span class="txt-link">Proporção de Sobreviventes</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="">
                    <img class="icon" src="../static/images/fa-solid_bacterium.svg" alt="">
                    <span class="txt-link">Letalidade por Tipo de Peste</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="">
                    <img class="icon" src="../static/images/Group.png" alt="">
                    <span class="txt-link">Propagação Geográfica (Mapa)</span>
                </a>
            </li>
        </ul>
        

    </nav>



    <script src="../static/script.js"></script>
</body>
</html>